services:
  web:
    build:
      context: .
      dockerfile: ./config/franken/Dockerfile
    ports: 
      - "80:80"
      - "5173:5173"
    volumes:
      - ./src:/var/www/html
    
  db:
    build:
      context: .
      dockerfile: ./config/mysql/Dockerfile
    ports: 
      - "3306:3306"
    environment:
      MYSQL_DATABASE: test
      MYSQL_USER: user
      MYSQL_ROOT_PASSWORD: password 
      MYSQL_PASSWORD: password 
    volumes:
      - db_data:/var/lib/mysql
  
volumes:
  db_data:
