services:
  web:
    image: dunglas/frankenphp:1.11.2-builder-php8
    ports: 
      - "80:80"
    volumes:
      - ./src:/var/www/html
    
  db:
    image: mysql:8.4
    ports: 
      - "3306:3306"
    environment:
      MYSQL_DATABASE: test
      MYSQL_USER: user
      MYSQL_ROOT_PASSWORD: password 
      MYSQL_PASSWORD: password 
    volumes:
      - db_data:/var/lib/mysql
  
volumes:
  db_data:
